<section class="irch-heritage">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4 col-sm-12 col-xl-4">
                <div class="irch-heri-bx active">
                    <div class="irch-heri-content">
                        <h4 class="irch-heri-title">{{Res.data.left_blue_division.title}}
                        </h4>
                        <div [innerHTML]="Res.data.left_blue_division.description"></div>
                        <a href="#" class="btn irch-heri-btn">Know More</a>
                    </div>
                    <div class="irch-heri-img">
                        <img src="assets/images/sign.png" alt="Sign">
                    </div>
                    <div class="irch-heri-sub-title">
                        <h6>{{Res.data.left_blue_division.name}}</h6>
                        <p>{{Res.data.left_blue_division.designation}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 col-sm-6 col-xl-4">
                <div class="irch-heri-bx text-center">
                    <div class="irch-heri-img">
                        <img src="assets/images/city-hall.png" alt="City_Hall">
                    </div>
                    <div class="irch-heri-content">
                        <h4 class="irch-heri-title">{{Res.data.middle_white_division.title}}</h4>
                        <div [innerHtml]="Res.data.middle_white_division.description"></div>
                        <a href="#" class="btn irch-heri-btn">Know More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 col-sm-12 col-xl-4">
                <div class="irch-heri-bx active irch-heri-bx-2">
                    <div class="irch-heri-content">
                        <h4 class="irch-heri-title">{{Res.data.right_blue_division.title}}
                        </h4>
                        <div [innerHtml]="Res.data.right_blue_division.description"></div>
                        <a href="#" class="btn irch-heri-btn">Know More</a>
                    </div>
                    <div class="irch-heri-img">
                        <img src="assets/images/sign.png" alt="Sign">
                    </div>
                    <div class="irch-heri-sub-title">
                        <h6>{{Res.data.right_blue_division.name}}</h6>
                        <p>{{Res.data.right_blue_division.designation}}</p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6 col-lg-4 col-sm-6 col-xl-4">
                <div class="irch-heri-bx text-center">
                    <div class="irch-heri-img">
                        <img src="assets/images/city-hall.png" alt="City_Hall">
                    </div>
                    <div class="irch-heri-content">
                        <h4 class="irch-heri-title">Natural Heritage</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue gravida quam. In id sem nec arcu convallis tincidunt</p>
                        <a href="#" class="btn irch-heri-btn">Know More</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>